.headerIcon {
    position: relative;
    display: flex;
}

.mobileMenu {
    display: none;
}


.menu {
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    z-index: 1000;
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease-out;
    overflow-y: scroll;
}

.menuOpen {
    width: 540px;
    height: 100vh;
}

.menu:before {
    content: '';
    position: absolute;
    top: -10px;
    right: 20px;
    border-width: 0 10px 10px;
    border-style: solid;
    border-color: transparent transparent #fff;
}

.closeButton {
    top: 5px;
    left: 20px;
    cursor: pointer;
    color: #999;
    padding: 10px;
    z-index: 100;
    transition: color 0.3s ease;
}

.closeButtons {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

.closeButton:hover {
    color: #555;
}

.closeButtonLogo {
    width: 100px;
    height: 100px;
    margin-left: 20px;
}

.closeButtonLogo > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.close {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.bottom {
    width: 480px;
    padding-top: 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.37);
    margin-left: 20px;
}

.closeText {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: start;
    margin-left: 30px;
    width: 480px;
}

.text {
    line-height: 24px;
    display: flex;
    justify-content: start;
    text-align: start;
    margin-left: 30px;
    font-size: 16px;
}

.closeIcon {
    padding-bottom: 30px;
    line-height: 24px;
    display: flex;
    justify-content: start;
    margin-left: 30px;
    width: 480px;
    font-size: 20px;
}

.closeIcon > h3 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgb(160, 162, 165);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

.closeIcon > h3:hover {
    background: #9a9b9c;
    color: white;
}

.closeIcon > span {
    display: flex;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 10px;
}

.closeIcon > span:hover {
    color: #ada8a8;
}

.acount {
    padding-bottom: 30px;
    line-height: 24px;
    display: flex;
    justify-content: start;
    margin-left: 30px;
    width: 480px;
}

.acounts {
    padding-bottom: 30px;
    line-height: 24px;
    display: flex;
    justify-content: start;
    margin-left: 30px;
    width: 480px;
}

.acounts > button {
    padding: 10px 15px;
    border-radius: 20px;
    margin-right: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
    background: white;
}

.acounts > button:hover {
    background: #57afb6;
    color: white;
}

.acounts > span {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.37);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    margin-right: 20px;
}

.acounts > span:hover {
    background: #57afb6;
    color: white;
}

.closeHeader {
    display: none;
}

.header {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerContainer {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

.headerlogo {
    width: 90px;
    height: 90px;
}

.headerlogo {
    margin-left: 20px;
    margin-right: 70px;
}

.headerlogo > img {
    width: 100%;
    object-fit: cover;
}

.headerSection > ul {
    display: flex;
    position: relative;
}

.socials > ul {
    display: flex;
}

.socials > ul > li {
    list-style: none;
}


.socials li {
    list-style: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 15px;
    font-size: 25px;
    background: #344451;
    color:white;
}
.drbContent {
    padding-top: 33px;
    position: absolute;
    z-index: 1;
    display: none;
    top: 20px;
    min-width: 220px;
}

.drbContent > ul > li {
    list-style: none;
    cursor: pointer;
    position: relative;
    padding: 10px 30px;
    background: white;
    font-size: 18px;
}
.headerSection li{
    position: relative;
}
.drbContent > ul > li:hover {
    background: #c7c7c7;
}
.headerSection ul li::after{
    content: " ";
    height: 3px;
    width: 0;
    background-color: #57afb6;
    position: absolute;
    left: 50%;
    bottom: -10px;
    transition: 0.5s;
    transform: translateX(-50%);
}
.headerSection ul li:hover::after{
    width: 100%;

}
.drbContent > ul {
    box-shadow: 0 0 3px 3px rgba(128, 128, 128, 0.35);
}

.headerSection > ul > li:hover .drbContent {
    display: block;
    transition: 0.5s;
}

.headerSection > ul > li {
    list-style: none;
    margin-right: 30px;
    font-size: 20px;
    display: block;
}
.blog{
    color: white;
}
.footerItemText>p>a{
    color: white;
}

.headerIcon {
    margin-right: 50px;
    font-size: 35px;
    text-align: end;
}

.headerEndLanguage > ul {
    display: flex;
}

.headerEndLanguage li span {
    margin-left: 2px;
}

.headerEndLanguage {
    cursor: pointer;
    position: relative;
}

.drbBlog {
    position: relative;
    cursor: pointer;
}

.drbList {
    position: absolute;
    top: 15px;
    left: 100%;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.drbList ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.drbList li {
    padding: 10px 40px;
    border-bottom: 1px solid #ddd;
}

.drbList li:last-child {
    border-bottom: none;
}

.drbList li:hover {
    background-color: #f0f0f0;
}

.headerEndLanguage > ul > li {
    margin-right: 20px;
    list-style: none;
    border: 2px solid rgba(0, 0, 0, 0.71);
    border-radius: 20px;
    text-align: center;
    padding: 10px 20px;
    display: flex;
}

.headerEndLanguage > ul > li:hover .drb {
    display: block;
    transition: 0.5s;
}

.lang {
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}

.lang:hover {
    background: blue;
}

.drb {
    padding-top: 33px;
    position: absolute;
    z-index: 1;
    display: none;
    left: 5px;
    top: 20px;
}

.blogList {
    list-style: none;
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

.drb > ul > li {
    list-style: none;
    cursor: pointer;
    padding: 10px 30px;
    background: white;
}
.drb > ul > li:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.drb > ul > li:nth-child(2) {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.drb > ul > li:hover {
    background: #c7c7c7;
}

.drb > ul {
    box-shadow: 0 0 3px 3px rgba(128, 128, 128, 0.35);
    border-radius: 10px;
}


.footerContainer {
    width: 100%;
    background:#344451;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}
.footerLogo {
    padding-left: 20px;
    width: 26%;
    display: flex;
    align-items: center;
}


.pagesSection > h4 {
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-size: 20px;
}

.pagesSection > ul > li {
    list-style: none;
    padding-bottom: 5px;
    color:white;
}

.footerText > p {
    color: white;
    line-height: 25px;
}

.pagesLogo {
    width: 100px;
    height: 100px;
    position: relative;
    padding-bottom: 20px;
}

.pagesLogo > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: 1s;
    cursor: pointer;
}

.imgColor {
    position: absolute;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    top: 0px;
    cursor: pointer;
    transition: 1s;
}

.imgColor:hover {
    background: #000000a2;
}

.pagesSectionLogo {
    display: flex;
}

.pagesText > p {
    margin-left: 15px;
    font-size: 16px;
    line-height: 25px;
    color: white;
    transition: 1s;
    cursor: pointer;
    border-bottom: 2px solid colourless;
}

/*.pagesText:hover > p {*/
/*    color: orange;*/
/*    border-bottom: 2px solid orange;*/
/*}*/

.autor {
    border-top: 2px solid white;
    width: 100%;
    background: #344451;
    padding:20px 0;
}

.autorText {
    padding-top: 10px;
    color:white;
    text-align: center;
    padding-bottom: 10px;
}
.footerImg{
    margin-right: 30px;
}
.footerImg > img {
    width: 130px;
    height: 130px;
    object-fit: cover;
}

.autorItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerItem > img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.footerItemText > p {
    color: white;
    margin-left: 14px;
}

.jamanakavorFoot {
    width: 100%;
    height: 200px;
}

@media only screen and (max-width: 1200px) {
    .headerSection > ul > li{
        font-size: 16px;
    }
    .pagesSection > h4{
        font-size: 15px;
    }
    .footerContainer>div:last-child{
        display: none;
    }
    .footerContainer>div:first-child{
        display: none;
    }
    .footerContainer{
        display: none;
    }

}
@media only screen and (max-width: 1000px) {
    .autorItem {
        padding: 0 10px;
    }

    .closeHeader {
        display: block;
    }

    .closeHeader > ul {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-left: 30px;
    }

    .closeHeader > ul > li {
        list-style: none;
        font-size: 25px;
    }

    .blogs {
        list-style: none;
        font-size: 25px;
    }


    .pagesSection {
        margin-left: 20px;
    }

    .headerSection > ul > li {
        display: none;
    }
    .mobileMenu{
        display: block;
        margin-left: 20px;
    }
}


@media only screen and (max-width: 600px) {
    .headerlogo {
        width: 60px;
        height: 60px;
    }
    .headerEndLanguage > ul > li{
        padding: 7px 14px;
    }
    .footerLogo {
        width: 90%;
    }
    .socials{
        display: none;
    }


}
@media only screen and (max-width: 500px) {
    .menu {
        top: -10px;
        right: -60px;
        height: auto;
    }

    .closeIcon > span {
        font-size: 6px;
    }

    .menuOpen {
        width: 100%;
    }

    .text {
        margin-right: 20px;
    }

    .text > p {
        width: 200px;
    }

    .closeButtonLogo {
        width: 50px;
        height: 50px;
        margin-left: 10px;
    }

    .closeButtonLogo > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .bottom, .closeText, .text, .closeIcon, .acount, .acounts {
        margin-left: 20px;
        word-break: break-all;
        width: 80%;
    }

    .closeButtons {
        padding-top: 15px;
        justify-content: space-between;
    }

    .closeButton {
        top: 5px;
        left: 10px;
        padding: 5px;
    }

    .closeIcon > h3 {
        width: 40px;
        height: 40px;
        font-size: 24px;
        margin-right: 10px;
    }

    .closeIcon > span {
        min-width: 10px;
        font-size: 20px;
    }

    .acounts > button {
        padding: 8px 12px;
        font-size: 18px;

    }

    .acounts > span {
        margin-bottom: 180px;
    }

    .acount > h4 {
        font-size: 30px;
    }

}

@media only screen and (max-width: 480px) {
    .close {
        display: flex;
        align-items: center;
        margin-right: 80px;
    }

    .footerContainer {
        width: 100%;
        height: auto;
        flex-direction: column;
    }
}